<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358505628191-86iittn9ev9pmbvshal3gfj560lojo23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358505628191-86iittn9ev9pmbvshal3gfj560lojo23</string>
	<key>API_KEY</key>
	<string>AIzaSyAK8h-HM3lPli-bBWjEp7ot6_Qs1VsRJwE</string>
	<key>GCM_SENDER_ID</key>
	<string>358505628191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riveAnimation</string>
	<key>PROJECT_ID</key>
	<string>geosense-657ae</string>
	<key>STORAGE_BUCKET</key>
	<string>geosense-657ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358505628191:ios:fd52fa1363cacf8f210b2a</string>
</dict>
</plist>